/* images for file dossier.export */

image[id="image-1"] {
    display           : block ;
    background-image  : url(../svg/coobs.svg) ;
    background-size   : 100%% auto ;
    background-repeat : no-repeat ;
    width             : 14.256cm ;
    height            : 10.114cm ;
}

image[id="image-2"] {
    display           : block ;
    background-image  : url(../svg/magliocca_methodo.svg) ;
    background-size   : 100%% auto ;
    background-repeat : no-repeat ;
    width             : 14.256cm ;
    height            : 10.114cm ;
}